._ls_n li {
  list-style: none;
  list-style-position: outside
}

._bgP_c {
  background-position: center;
}

._bgS_c {
  background-size: cover;
}

._bg_c_p1 {
  background-color: var(--background-color1);
}

.bg_lg_p1 {
  background: linear-gradient(to bottom, #cac6c3, #e9eaea);
}

.bg_lg_p2 {
  background: linear-gradient(to bottom, #dfdddd, #e9eaea);
}

._bg_c_w {
  background-color: var(--color-white);
}

._bg_c_r {
  background-color: var(--color-red);
}
