._bs_s {
  border-style: solid;
}

._bs_d {
  border-style: dotted;
}

.ol_n {
  outline: none;
}

._bs_n {
  border-style: none;
}
._brs_s {
  border-right-style: solid;
}
._bbs_s {
  border-bottom-style: solid;
}
._bls_s {
  border-left-style: solid;
}

._bw_1 {
  border-width: 1px;
}
._bw_2 {
  border-width: 2px;
}
._bw_3 {
  border-width: 3px;
}
._bw_4 {
  border-width: 4px;
}
._bw_5 {
  border-width: 5px;
}

._bc_b {
  border-color: black;
}
._bc_w {
  border-color: white;
}

._bc_dg {
  border-color: var(--dark-grey);
}

._bc_lg {
  border-color: var(--ligth-grey);
}

._br_1 {
  border-radius: 5px;
}
._br_2 {
  border-radius: 10px;
}
._br_3 {
  border-radius: 15px;
}
._br_4 {
  border-radius: 25px;
}
._br_5 {
  border-radius: 50%;
}

._br_i1 {
  border-radius: 5px 0 0 0;
}
._br_i2 {
  border-radius: 10px 0 0 0;
}
._br_i3 {
  border-radius: 15px 0 0 0;
}
._br_i4 {
  border-radius: 25px 0 0 0;
}
._br_i5 {
  border-radius: 35px 0 0 0;
}

._br_d1 {
  border-radius: 0 5px 0 0;
}
._br_d2 {
  border-radius: 0 10px 0 0;
}
._br_d3 {
  border-radius: 0 15px 0 0;
}
._br_d4 {
  border-radius: 0 25px 0 0;
}
._br_d5 {
  border-radius: 0 35px 0 0;
}

._br_ii1 {
  border-radius: 0 0 5px 0;
}
._br_ii2 {
  border-radius: 0 0 10px 0;
}
._br_ii3 {
  border-radius: 0 0 15px 0;
}
._br_ii4 {
  border-radius: 0 0 25px 0;
}
._br_ii5 {
  border-radius: 0 0 35px 0;
}

._br_dd1 {
  border-radius: 0 0 0 5px ;
}
._br_dd2 {
  border-radius: 0 0 0 10px;
}
._br_dd3 {
  border-radius: 0 0 0 15px;
}
._br_dd4 {
  border-radius: 0 0 0 25px;
}
._br_dd5 {
  border-radius: 0 0 0 35px;
}
