/* display */

._d_n {
  display: none;
}

._d_b {
  display: block;
}

._d_n {
  display: none;
}

/* flex */

._d_f {
  display: flex;
}

._fd_r {
  flex-direction: row;
}

._fd_c {
  flex-direction: column;
}

._fd_cr {
  flex-direction: column-reverse;
}

._fw_w {
  flex-wrap: wrap;
}

._jc_fs {
  justify-content: flex-start;
}

._jc_fe {
  justify-content: flex-end;
}

._jc_c {
  justify-content: center;
}
._jc_sb {
  justify-content: space-between;
}
._jc_sa {
  justify-content: space-around;
}

._ai_c {
  align-items: center;
}

._ai_fs {
  align-items: flex-start;
}
._ai_fe {
  align-items: flex-end;
}

._ai_b {
  align-items: baseline;
}

._ai_i {
  align-items: initial;
}

._ai_s {
  align-items: stretch;
}

._ai_ih {
  align-items: inherit;
}

._ai_u {
  align-items: unset;
}

._ta_c {
  text-align: center;
}
