._ls_1 {
    letter-spacing: 1vw;
  }
  ._ls_2 {
    letter-spacing: 3vw;
  }
  ._ls_3 {
    letter-spacing: 5vw;
  }
  ._ls_4 {
    letter-spacing: 8vw;
  }
  ._ls_5 {
    letter-spacing: 12vw;
  }

  ._ls_1s {
    letter-spacing: 0.2vw;
  }
  ._ls_2s {
    letter-spacing: 0.3vw;
  }
  ._ls_3s {
    letter-spacing: 0.4vw;
  }
  ._ls_4s {
    letter-spacing: 0.5vw;
  }
  ._ls_5s {
    letter-spacing: 0.8vw;
  }