._p_0 {
  padding: 0;
}
._p_1 {
  padding: 1vw;
}
._p_2 {
  padding: 2vw;
}
._p_3 {
  padding: 3vw;
}
._p_4 {
  padding: 4vw;
}
._p_5 {
  padding: 5vw;
}
._p_1s {
  padding: 0.2vw;
}
._p_2s {
  padding: 0.3vw;
}
._p_3s {
  padding: 0.4vw;
}
._p_4s {
  padding: 0.5vw;
}
._p_5s {
  padding: 0.8vw;
}

._py_0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}
._py_1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
._py_2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
._py_3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
._py_4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
._py_5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

._py_1s {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
._py_2s {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
._py_3s {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
._py_4s {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
._py_5s {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}


._px_a {
  padding-left: auto;
  padding-right: auto;
}
._px_0 {
  padding-left: 0rem;
  padding-right: 0rem;
}
._px_1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
._px_2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
._px_3 {
  padding-left: 3rem;
  padding-right: 3rem;
}
._px_4 {
  padding-left: 4rem;
  padding-right: 4rem;
}
._px_5 {
  padding-left: 5rem;
  padding-right: 5rem;
}
._px_1s {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
._px_2s {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
._px_3s {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
._px_4s {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
._px_5s {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}


._pr_1 {
  padding-right: 1rem;
}
._pr_2 {
  padding-right: 2rem;
}
._pr_3 {
  padding-right: 3rem;
}
._pr_4 {
  padding-right: 4rem;
}
._pr_5 {
  padding-right: 5rem;
}

._pr_1s {
  padding-right: 0.2rem;
}
._pr_2s {
  padding-right: 0.3rem;
}
._pr_3s {
  padding-right: 0.4rem;
}
._pr_4s {
  padding-right: 0.5rem;
}
._pr_5s {
  padding-right: 0.8rem;
}

._pt_0 {
  padding-top: 0vw;
}
._pt_1 {
  padding-top: 1vw;
}
._pt_2 {
  padding-top: 2vw;
}
._pt_3 {
  padding-top: 3rem;
}
._pt_4 {
  padding-top: 4rem;
}
._pt_5 {
  padding-top: 5rem;
}

._pt_1s {
  padding-top: 0.2vw;
}
._pt_2s {
  padding-top: 0.3vw;
}
._pt_3s {
  padding-top: 0.4rem;
}
._pt_4s {
  padding-top: 0.5rem;
}
._pt_5s {
  padding-top: 0.8rem;
}

._pb_0 {
  padding-bottom: 0rem;
}
._pb_1 {
  padding-bottom: 1rem;
}
._pb_2 {
  padding-bottom: 2rem;
}
._pb_3 {
  padding-bottom: 3rem;
}
._pb_4 {
  padding-bottom: 4rem;
}
._pb_5 {
  padding-bottom: 5rem;
}

._pl_0 {
  padding-left: 0rem;
}
._pl_1 {
  padding-left: 1rem;
}
._pl_2 {
  padding-left: 2rem;
}
._pl_3 {
  padding-left: 3rem;
}
._pl_4 {
  padding-left: 4rem;
}
._pl_5 {
  padding-left: 5rem;
}
