/* height */

._h_1 {
    height: 2rem;
  }
  ._h_2 {
    height: 3rem;
  }
  ._h_3 {
    height: 4rem;
  }
  ._h_4 {
    height: 6rem;
  }
  ._h_5 {
    height: 8rem;
  }
  ._h_a {
    height: auto;
  }
  ._h_1x {
    height: 2rem;
  }
  ._h_2x {
    height: 4rem;
  }
  ._h_3x {
    height: 8rem;
  }
  ._h_4x {
    height: 16rem;
  }
  ._h_5x {
    height: 32rem;
  }
  
  /* width */
  
  ._w_e {
    width: 100%;
  }
  ._w_1 {
    width: 2rem;
  }
  ._w_2 {
    width: 3rem;
  }
  ._w_3 {
    width: 4rem;
  }
  ._w_4 {
    width: 6rem;
  }
  ._w_5 {
    width: 8rem;
  }
  ._w_a {
    width: auto;
  }
  
  ._w_1x {
    width: 2rem;
  }
  ._w_2x {
    width: 4rem;
  }
  ._w_3x {
    width: 8rem;
  }
  ._w_4x {
    width: 16rem;
  }
  ._w_5x {
    width: 32rem;
  }
  
  ._mw_1 {
    max-width: 10%;
  }
  ._mw_2 {
    max-width: 20%;
  }
  ._mw_3 {
    max-width: 30%;
  }
  ._mw_4 {
    max-width: 40%;
  }
  ._mw_5 {
    max-width: 50%;
  }
  ._mw_6 {
    max-width: 60%;
  }
  ._mw_7 {
    max-width: 70%;
  }
  ._mw_8 {
    max-width: 80%;
  }
  ._mw_9 {
    max-width: 90%;
  }