@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@800&display=swap');


:root {
}
      
[class*="col_"] {
  float: left;
  /* padding: 15px; */
}

[class*="floatCl_"] {
  float: left;
  /* padding: 15px; */
}
      
/* For mobile phones: */
[class*="col_"] {
  width: 100%;
}
      
[class*="floatCl_"] {
  width: 90%;
  left: calc(50% - (90% / 2));
} 
